@import url('https://fonts.googleapis.com/css?family=Muli:ital,wght@0,200;0,300;0,600;1,600&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(63, 60, 85);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(107, 70, 193, 1);
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(107, 70, 193, 0.8);
}
